<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Compte rendu d'exécution</title>
</head>
<body>
  <div class="container">
    <h1>Compte rendu d'exécution</h1>
    
    <div class="section">
      <h2 class="section-title">Informations générales</h2>
      <table>
        <tr>
          <th>Projet</th>
          <th>Date</th>
          <th>Heure de début</th>
          <th>Heure de fin</th>
        </tr>
        <tr>
          <td>MonProjet</td>
          <td>31 mai 2023</td>
          <td>10:00</td>
          <td>11:30</td>
        </tr>
      </table>
    </div>
    
    <div class="section">
      <h2 class="section-title">Détails de l'exécution</h2>
      <table>
        <tr>
          <th>url</th>
          <th>Description</th>
          <th>Proprete du site</th>
          <th>Consommation de CO2</th>
        </tr>
        <tr>
          <td>{p.url_1}</td>
          <td></td>
          <td>{p.proprete_1}%</td>
          <td>{p.consommation_co2_1}g de CO2</td>
        </tr>
        <tr>
          <td>{p.url_2}</td>
          <td></td>
          <td>{p.proprete_2}%</td>
          <td>{p.consommation_co2_2}g de CO2</td>
        </tr>
        <tr>
          <td>{p.url_3}</td>
          <td></td>
          <td>{p.proprete_3}%</td>
          <td>{p.consommation_co2_3}g de CO2</td>
        </tr>
        <tr>
          <td>{p.url_4}</td>
          <td></td>
          <td>{p.proprete_4}</td>
          <td>{p.consommation_co2_4}g de CO2</td>
        </tr>
        <tr>
          <td>{p.url_5}</td>
          <td></td>
          <td>{p.proprete_5}%</td>
          <td>{p.consommation_co2_5}g de CO2</td>
        </tr>

    <div class="section">
        <table>
          <tr>
            <th>Consommation CO2 total</th>
          </tr>
          <tr>
            <td>{p.consommation_co2_total}g de CO2</td>
          </tr>
        </table>
    </div>
