<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ausy Forever</title>
</head>
<body>
  <h1>url : {p.url}</h1>
  
  <p>Ceci est un paragraphe.</p>
  
  <h2>Sous-titre</h2>
  
  <ul>
    <li>Emprunte carbonne de la page : {p.consommation_co2} de CO2</li>
    <li>Proprete de la page : {p.proprete_site}%</li>
  </ul>
  
  <p>Préconisation pour diminuer la consommation de CO2 :</p>
  
  <img src="/home/ndf/github/rse_robot/images/image_template.png" alt="Template de l'image">
  
</body>
</html>
